*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6e2447b0;
    text-align: center;
}

.container{
    height: 70vh;
    /* background-color: aliceblue; */
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.game{
   height: 60vh; 
   width: 60vh;
   /* background-color: rgb(84, 60, 107);c */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.4);
    font-size: 35px ;
    color:#312632 ;
    background-color: rgb(216, 183, 146);
}

#reset{
    background-color: #3d0c3e;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px ;
   
}

#new-game{
    background-color: #3d0c3e;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px ;
}

#msg{
    color: antiquewhite;
    font-size: 65px;
}

.hide{
    display: none;
}



















